/* Put your custom styles here */
html, body {
    margin: 20px;
}

header {}

nav {}

.content {}

footer {}

a:hover {
  text-decoration: none;
}

.songs {
  list-style: none;
  margin-left: 0;
}

.editor {
  margin: 15px 0;
}

li {
  white-space: nowrap;
}

li:hover .remove-btn {
  display: inline;
  font-size: 16px;
}

.remove-btn {
  display: none;
  cursor: pointer;
  color: #b94a48;
}